@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1rem);
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}